div.grid-container {
    display: grid;
    height: 700px;
    width: 700px;
    border: 7px solid black;
    border-radius: 10px;
}

div.options {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 5px solid black;
    border-radius: 10px;
    margin-right: 15px;
    background-color: rgba(71, 71, 71, 0.418);
    padding: 20px;
}

div.title-bar {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: 64px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: #ff9999; 
}

div.main-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

button {
    width: 160px;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition-duration: 0.5s;
    border: 5px solid coral;
    color: coral;
}

button.active {
    border: 5px solid coral;
    background-color: coral;
    color: white
}

button:active {
    border: 5px solid coral;
    background-color: coral;
    color: white
}

button:hover {
    transform: scale(1.2);
  }


.grid-size {
    display: flex;
    flex-direction: column;
    color : white;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}


input[type=range]{
    margin: 10px;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    width: 300px;
    height: 4px;
    background: #ddd;
    border: none;
    border-radius: 10px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: coral;
    margin-top: -7px;
}

/* https://stackoverflow.com/questions/11167281/webkit-css-to-control-the-box-around-the-color-in-an-inputtype-color */
input[type=color]{
	width: 90px;
	height: 90px;
	border: none;
	border-radius: 60px;
	background: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border-radius: 90px;
}

.cell:hover{
    transform: scale(1.1);
    border: 1px solid black;
}

.cell.visible {
    border: 1px solid black;
}